<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="text-center m-t-lg">
        <h1>
          <%= link_to 'Upcoming Events', events_path, class: 'btn btn-lg btn-primary' %>
          <button class="btn btn-lg btn-info">Upcoming Classes</button>
          <button class="btn btn-lg btn-danger">My Schedule</button>
        </h1>
      </div>
    </div>
  </div>
</div>