<div class="wrapper wrapper-content animated fadeInRight">
  <button class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Add New Event</button>
  <h1 class="title">Events</h1>
  <table class="table table-striped table-bordered table-hover dataTables-example">
    <thead>
    <tr>
      <th>Event</th>
      <th>Location</th>
      <th>Date</th>
      <th>Force Strength</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr class="gradeX">
      <td>Super Sweet Party</td>
      <td>Battleship NJ</td>
      <td>05/19/2017</td>
      <td>0/15</td>
      <td class="center">
        <button class="btn btn-xs">Sign Up</button>
      </td>
    </tr>
    <!--<tfoot>-->
    <!--<tr>-->
    <!--<th>Event</th>-->
    <!--<th>Location</th>-->
    <!--<th>Date</th>-->
    <!--<th>Force Strength</th>-->
    <!--<th></th>-->
    <!--</tr>-->
    </tfoot>
    </tfoot>
  </table>
</div>